@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header styling */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', cursive;
    background-color: #628A60;
}

header {
    background-color: whitesmoke;
    padding: 1rem 1rem;
    position: relative;
    z-index: 99;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.nav-anchors {

    font-weight: 400;
    font-size: 16px;
    color: #434C45;
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links,
.nav-anchors {
    display: block;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 10px 0px 40px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #95AA8A;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
}

.logo {
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px #434C45;
}

/* Main styling */

.mainTitle {
    width: 100%;
    background-color: #628A60;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 2px solid #434C45;
}

.top-heading {
    color: whitesmoke;
    font-weight: 100;
    padding-top: 2%;
    font-size: 2rem;
}

.bottom-heading {
    color: #434C45;
    font-size: 1rem;
    padding: 2%;
}

main {
    margin: 0px;
    text-align: left;
}

#img-container {
    width: 100%;
    height: auto;
    position: relative;
    border-top: 2px solid #434C45;
}

#righthandside-img {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid-container {
    border-top: 2px solid #434C45;
    border-bottom: 2px solid #434C45;
}

.details,
.questions {
    width: 100%;
    padding: 6px;
    background-color: whitesmoke;
}

fieldset {
    border: none;
}

label,
input {
    display: inline-block;
    font-size: 14px;
}

label {
    cursor: pointer;
}

input {
    width: 95%;
font-family: 'Kalam', 'cursive';
}

legend {
    padding-top: 5px;
    font-weight: 550;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #434C45;
}

/* footer styling  */

footer {
    font-size: 12px;
    background-color: whitesmoke;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #434C45;
    text-align: right;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    gap: 15px;
}

.social-media-icons a {
    text-decoration: none;
}

button {
    font-family: 'Kalam', 'cursive';
    padding: 12px 25px;
    background-color: #628A60;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: whitesmoke;
    margin-bottom: 22px;
}

button:hover {
    background-color: #95AA8A;
    box-shadow: 0 4px 8px #434C45;
}

.footer-info-container {
    position: relative;
}

@media screen and (min-width: 768px) {

    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .nav-anchors {
        font-weight: 500;
        font-size: 22px;
    }

    #img-container {
        border: none;
        display: flex;
        align-items: flex-end;
        width: 60%;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 20%;
        margin-bottom: 4%;
        box-shadow: 0 4px 8px #434C45;
    }

    #righthandside-img {
        border: 2px solid #434C45;
        object-fit: cover;
        border-radius: 50%;
    }

    .questions {
        display: block;
    }

    label,
    input {
        font-size: 17px;
    }

    legend {
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px) {

    nav {
        margin-right: 12%;
        font-size: 25px;
    }

    .logo {
        height: 7rem;
        width: 7rem;
    }

    .top-heading {
        font-size: 4rem;
    }

    .bottom-heading {
        font-size: 2rem;
    }

    .containterHeading {
        font-size: 25px;
    }
}