@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header styling */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', cursive;
    background-color: #628A60;
}

header {
    background-color: whitesmoke;
    padding: 1rem 1rem;
    position: relative;
    z-index: 99;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.nav-anchors {

    font-weight: 400;
    font-size: 16px;
    color: #434C45;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.nav-links,
.nav-anchors {
    display: block;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 10px 0px 40px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #95AA8A;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    font-weight: 700;
}

.logo {
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px #434C45;
}

/* Main styling */

.mainTitle {
    width: 100%;
    background-color: #628A60;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 2px solid #434C45;
}

.top-heading {
    color: whitesmoke;
    font-weight: 100;
    padding-top: 2%;
    font-size: 2rem;
}

.bottom-heading {
    color: #434C45;
    font-size: 1rem;
    padding: 2%;
}

main {
    margin: 0px;
    text-align: left;
}

#img-container {
    width: 100%;
    height: auto;
    position: relative;
    /* order: 2; */
    display: block;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #434C45;
}

#righthandside-img {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 10px 20px;
} */
.grid-container {
    border-top: 2px solid #434C45;
    border-bottom: 2px solid #434C45;
}

.details,
.questions {
    /* order: 1; */
    width: 100%;
    padding: 6px;
    background-color: whitesmoke;
}

fieldset {
    border: none;
}

label,
input {
    display: inline-block;
    font-size: 14px;
}

label {
    cursor: pointer;
}

input {
    width: 95%;
    font-family: 'Kalam', cursive;
}

legend {
    padding-top: 5px;
    font-weight: 550;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
}