@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header styling */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', cursive;
}

header {
    background-color: whitesmoke;
    padding: 1rem 1rem;
    position: relative;
    z-index: 99;
    width: 100%;
    border-bottom: 2px solid #434C45;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.nav-anchors {

    font-weight: 400;
    font-size: 16px;
    color: #434C45;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.nav-links,
.nav-anchors {
    display: block;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 10px 0px 40px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #95AA8A;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    font-weight: 700;
}

.logo {
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px #434C45;
}

/* Main styling */

main {
    background-color: #628A60;
    padding: 8px;
}

#headline {
    max-width: 100%;
    /* height: 30vh; */
    background-color: #628A60;
    /* opacity: 0.8; */
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.top-heading {
    color: whitesmoke;
    font-family: 'Kalam', cursive;
    font-weight: 100;
    padding-top: 1%;
    font-size: 2em;
}

.bottom-heading {
    font-size: 1.3em;
    font-family: 'Kalam', cursive;
    padding-top: 2%;
    color: #434C45;
}

.h2-titleHeading {
    color: whitesmoke;
    text-align: center;
}

.about-container,
#future,
#ingredients {
    background-color: #95AA8A;
    position: relative;
    margin: 8px 0;
    height: auto;
    border: 1px solid #434C45;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 4px 8px #434C45;
}

.about-text,
.future-text,
.ingredients-text {
    padding: 10px 10px;
    width: 100%;
    text-align: justify;
    overflow: hidden;
    color: whitesmoke;
}

.about-text>a {
    font-weight: 550;
    text-decoration: none;
    color: #434C45;
}

.ingredients-text>a {
    font-weight: 550;
    text-decoration: none;
    color: #434C45;
}

.about-text>a:hover {
    text-decoration: underline;
    color: whitesmoke;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
}

.ingredients-text>a:hover {
    text-decoration: underline;
    color: whitesmoke;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
}

.ingredients-text>a {
    font-weight: 550;
    text-decoration: none;
    color: #434C45;
}

.future-text>a {
    font-weight: 550;
    text-decoration: none;
    color: whitesmoke;
}

.future-text>a:hover {
    text-decoration: underline;
    color: #434C45;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
}

#about-img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px #434C45;
}

#future {
    background-color: rgb(221, 229, 182);
}

.future-collection,
.ingredients-collection {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

.ingredients-text {
    color: whitesmoke;
}

#future-heading {
    color: #434C45;
    text-align: center
}

.future-text {
    color: #434C45;
}

.future-img,
.ingredients-img {
    overflow: hidden;
    height: auto;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px #434C45;
    /* padding: 0px 10px 0px 10px; */
}

/* footer styling  */

footer {
    font-size: 12px;
    background-color: whitesmoke;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #434C45;
    text-align: right;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #434C45;
}

button {
    font-family: 'Kalam', cursive;
    padding: 12px 25px;
    background-color: #628A60;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: whitesmoke;
    margin-bottom: 22px;
}

button:hover {
    background-color: #95AA8A;
    box-shadow: 0 4px 8px #434C45;
}

.footer-info-container {
    position: relative;
}

@media screen and (min-width: 768px) {

    /* Header Queries */

    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .nav-anchors {
        font-weight: 500;
        font-size: 22px;
    }

    .top-heading {
        font-size: 3rem;
    }

    .bottom-heading {
        font-size: 1.7rem;
    }

    .about-text,
    .future-text,
    .ingredients-text {
        font-size: 18px;
    }


}

@media screen and (min-width: 1200px) {

    /* Header Queries */

    nav {
        margin-right: 12%;
        font-size: 25px;
    }

    .logo {
        height: 7rem;
        width: 7rem;
    }

    .top-heading {
        font-size: 4rem;
    }

    .bottom-heading {
        font-size: 2rem;
    }

    .about-text,
    .future-text,
    .ingredients-text {
        font-size: 20px;
    }
}