@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header styling */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', cursive;
    background-color: #628A60;
}

header {
    background-color: whitesmoke;
    padding: 1rem 1rem;
    position: relative;
    z-index: 99;
    width: 100%;
    border-bottom: 2px solid #434C45;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.nav-anchors {

    font-weight: 400;
    font-size: 16px;
    color: #434C45;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.nav-links,
.nav-anchors {
    display: block;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0px 10px 0px 40px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #95AA8A;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    font-weight: 700;
}

.logo {
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px #434C45;
}

/*  Main styling */

main {
    background-color: #628A60;
    padding: 10px;
}

#future-product-container {
    position: relative;
    width: 100%;
    /* height: 30vh; */
    background-color: #628A60;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.top-heading {
    color: whitesmoke;
    font-family: 'Kalam', cursive;
    font-weight: 100;
    padding-top: 1%;
    font-size: 2em;
}

.bottom-heading {
    font-size: 1.3em;
    font-family: 'Kalam', cursive;
    padding-top: 2%;
    color: #434C45;
}

.recipe-container,
.product-grid {
    color: whitesmoke;
    background-color: #95AA8A;
    height: auto;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    padding: 2%;
    border-radius: 8px;
    width: 100%
}

.recipe-container {
    /* display: block; */
    border: 1px solid #434C45;
    padding: 10px;
    margin-bottom: 10px;
}

.hidden-img {
    display: none;
}

.recipe-list {
    font-size: 19px;
    margin-left: 50px;
}

.recipe-vid-container {
    width: 100%;
    height: auto;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 1px solid #434C45;
    padding: 2%;
    border-radius: 8px;
    background-color: rgb(221, 229, 182);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

#recipe-vid {
    width: 100%;
    height: auto;
}

.product-grid {
    color: #434C45;
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid #434C45;
}

.product {
    text-align: center;
    border: 1px solid #434C45;
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(221, 229, 182);
}

/* footer styling  */

footer {
    font-size: 12px;
    background-color: whitesmoke;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #434C45;
    text-align: right;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #434C45;
}

button {
    font-family: 'Kalam', cursive;
    padding: 12px 25px;
    background-color: #628A60;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: whitesmoke;
    margin-bottom: 22px;
}

button:hover {
    background-color: #95AA8A;
    box-shadow: 0 4px 8px #434C45;
}

.footer-info-container {
    position: relative;
}

/* Media Queries */

@media screen and (min-width: 768px) {

    /* Header Queries */

    .nav-links {
        display: flex;
        flex-direction: row;
    }

    .nav-anchors {
        font-weight: 500;
        font-size: 22px;
    }

    /* Main Queries */

    .recipe-container {
        font-size: 19px;
        display: flex;
        flex-wrap: wrap;
    }

    .recipes {
        max-width: 50%;
        margin-right: auto;
    }

    .hidden-img {
        display: flex;
        float: right;
        align-items: flex-end;
        width: 40%;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #434C45;
        margin: 3%
    }
}