@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header styling */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', cursive;
}

header {
    background-color: whitesmoke;
    padding: 1rem 1rem;
    position: relative;
    z-index: 99;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.nav-anchors {

    font-weight: 400;
    font-size: 16px;
    color: #434C45;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.nav-links,
.nav-anchors {
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #95AA8A;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    font-weight: 700;
}

.logo {
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px #434C45;
}

/* main styling */

main {
    display: block;
    height: auto;
    max-width: 100%;
}

.background-img-container {
    display: flex;
    text-align: center;
    position: relative;
}

.background-img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0.9;
}

.tagline {
    flex: 1;
    position: relative;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-indent: 20px;
    text-align: center;
    padding: 8px 12px;
    opacity: 0.8;
    background-color: #628A60;
    font-family: 'Kalam', cursive;
    color: whitesmoke;
    border-top: 2px solid #434C45;
    border-bottom: 2px solid #434C45;
}

.abitaboutus {
    background-color: #628A60;
    color: whitesmoke;
    position: relative;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-indent: 20px;
    text-align: center;
    padding: 8px 12px;
    opacity: 0.8;
    border-top: 2px solid #434C45;
    border-bottom: 2px solid #434C45;
}

.abitaboutus>p>a {
    font-weight: 550;
    text-decoration: none;
    color: #434C45;
}

.abitaboutus>p>a:hover {
    text-decoration: underline;
    color: whitesmoke;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
}

/* footer styling  */

footer {
    font-size: 12px;
    background-color: whitesmoke;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #434C45;
    text-align: right;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

button {
    font-family: 'Kalam', cursive;
    padding: 12px 25px;
    background-color: #628A60;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: whitesmoke;
    margin-bottom: 22px;
}

button:hover {
    background-color: #95AA8A;
    box-shadow: 0 4px 8px #434C45;
}

.footer-info-container {
    position: relative;
}