@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header styling */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: 'Kalam', cursive;
}

header {
    padding: 1rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    border-bottom: #434C45;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.nav-anchors {

    font-weight: 400;
    font-size: 16px;
    color: #434C45;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.nav-links,
.nav-anchors {
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #628A60;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
    font-weight: 700;
}

.logo {
    height: 5rem;
    width: 5rem;
    border-radius: 10px;
    border: 1px solid black;
}

/* main styling */

.background-img-container {

    border-bottom: 1px solid #434C45;
    text-align: center;
    position: relative;
}

.background-img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0.9;
}

.tagline {
    width: 100%;
    font-size: 25px;
    font-weight: 450;
    text-indent: 20px;
    text-align: center;
    padding: 8px 12px;
    box-shadow: 5px 5px 10px 0px #daf6d9, -5px -5px 10px 0px #dff2e8;
    opacity: 0.8;
    background-color: #628A60;
    font-family: 'Kalam', cursive;
    color: whitesmoke;
}